<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>botanique</title>
    <link type="text/css" rel="stylesheet" href="../styles/normalize.css"/>
    <link rel="stylesheet" href="../styles/style.css"/>
    <script src="../scripts/custom.js"></script>
</head>
<body>
<div class="nav">
    <header class="navbar">
        <a href="/"><img class="logo" alt="botanique" src="../images/logo.svg"></a>
        <div class="pagesSelector">
            <div class="selected">
                <a class="navLink" href="/">Главная
                </a>
                <div class="line"></div>
            </div>

            <a class="navLink" href="/analytics">Аналитика</a>
        </div>
        <a href="/error"><img class="userAvatar" alt="Профиль" src="../images/avatar.svg"></a>
    </header>
</div>
<div class="search">
    <input class="searchBar" type="text"
           placeholder="Поиск прибора в Botanique по номеру, названию, подразделению и др." id="searchInput">
    <a href="/error"><img class="qrScan" src="../images/qr_code.svg"></a>
</div>
<div class="table">
    <div class="TableNaming"><img class="tableNamingImg" alt="❤" src="../images/heart.svg">&nbsp;Любимые приборы</div>
    <table class="spreadsheet">
        <tr class="header">
            <th></th>
            <th>Название</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr class="trow">
            <td><img src="../images/equip/pH.svg"></td>
            <td>pH-метр Mettler-Toledo International, Inc. SevenCompact S220</td>
            <td><select class="drop" name="dropdown">
                <option value="free" selected>Свободен</option>
            </select></td>
            <td><a onclick="changeNotifications(document.getElementById('notImg1'))"><img id="notImg1"
                                                                                          src="../images/notice.svg"></a>
            </td>
        </tr>
        <tr class="trow">
            <td><img src="../images/equip/spectr.svg"></td>
            <td>Спектрофотометр Varian, Inc Cary 50 Bio</td>
            <td><select class="drop" name="dropdown">
                <option value="free" selected>Свободен</option>
            </select></td>
            <td><a onclick="changeNotifications(document.getElementById('notImg2'))"><img id="notImg2"
                                                                                          src="../images/notice.svg"></a>
            </td>
        </tr>
        <tr class="trow">
            <td><img src="../images/equip/titrator.svg"></td>
            <td>Титратор</td>
            <td><select class="drop" name="dropdown">
                <option value="free" selected>Свободен</option>
            </select></td>
            <td><a onclick="changeNotifications(document.getElementById('notImg3'))"><img id="notImg3"
                                                                                          src="../images/notice.svg"></a>
            </td>
        </tr>
        <tr class="trow">
            <td><img src="../images/equip/coag.svg"></td>
            <td>Коагулометр Tcoag, KC 4 Delta</td>
            <td><select class="drop" name="dropdown">
                <option value="free" selected>Свободен</option>
            </select></td>
            <td><a onclick="changeNotifications(document.getElementById('notImg4'))"><img id="notImg4"
                                                                                          src="../images/notice.svg"></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>