body {
    background: rgba(245, 245, 245, 1);
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
}

.nav {
    position: fixed;

    width: 100%;
    height: 48px;

    top: 0;

    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 24px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    width: 132px;
    height: 24px;
}

.pagesSelector {
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navLink, navLink:active {
    color: rgba(0, 0, 0, 0.6);

    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
}

.selected {
    display: flex;
    justify-content: center;
}

.selected .navLink {
    color: rgba(35, 176, 74, 1);
}

.navLink:hover {
    color: rgba(35, 176, 74, 1);
    transition: all 0.15s;
}

.userAvatar {
    width: 32px;
    height: 32px;
}

.line {
    background: #23B04A;
    position: fixed;

    width: 12%;
    height: 2px;
    top: 46px;
}

.search {
    position: relative;
    width: 936px;
    height: 56px;

    margin: 100px auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.searchBar {
    position: relative;
    width: 936px;
    height: 56px;
    margin: 0 auto;

    padding-left: 16px;

    background: rgba(245, 245, 245, 1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.qrScan {
    position: absolute;
    width: 24px;
    height: 24px;

    right: 18px;
    top: 18px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    width: 925px;
}

.TableNaming {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 16px;
}

.spreadsheet {
    width: 925px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    text-align: left;
    padding: 0 24px;
}

td {
    color: rgba(0, 0, 0, 0.87)
}

.header {
    height: 44px;
}

.trow {
    height: 56px;
}

.trow a {
    cursor: pointer;
}

.drop {
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 2px;

    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.6);
}

.container {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    margin: 100px 96px;
    padding: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.maindata {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;

    padding-left: 16px;
}

.nameOfEquip {
    font-weight: 500;
    font-size: 20px;

    color: rgba(0, 0, 0, 0.87);
}

.numb_series {
    font-size: 12px;

    display: flex;
}

.actions {
    display: flex;
    align-items: center;
}

.status {
    color: rgba(35, 176, 74, 1);
    background: none;

    border: 1px solid #23B04A;
    border-radius: 2px;
}

.favorite, .settings {
    padding-left: 16px;
}

.container .line {
    background: rgba(33, 33, 33, 0.08);
    position: relative;

    width: calc(100% + 32px);
    height: 2px;

    top: 16px;
    left: -16px;
}

.table_action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.list_item {
    background: none;
    border: none;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons button {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.buttons button:hover {
    background: rgba(0, 0, 0, 0.15);
    transition: ease 0.15s;
}

.alarmBtn {
    width: 40px;
    height: 40px;

    border-radius: 4px;
}

.saveBtn {
    padding-left: 16px;
}

.saveBtn button {
    float: left;
}

.saveBtn button:not(:last-child) {
    border-right: none;
}

.saveBtn:after {
    content: "";
    clear: both;
    display: table;
}

.action {
    width: 169px;
    height: 40px;

    text-transform: uppercase;
    color: #23B04A;

    border-right: none;
    border-radius: 4px 0 0 4px;
}

.changeAction {
    width: 40px;
    height: 40px;

    border-radius: 0 4px 4px 0;
}

.date_changer input {
    width: 180px;
    height: 40px;

    margin-top: 28px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.date_changer span {
    padding: 0 16px;
}

.radio_buttons {
    margin: 16px 0;
}

.radio_buttons div {
    float: left;
    margin-right: 8px;
}

.radio_buttons input {
    position: absolute;
    left: -9999px;
}

.radio_buttons label {
    display: block;
    padding: 6px 12px;

    background: rgba(33, 33, 33, 0.08);
    border-radius: 16px;

    cursor: pointer;
}

.radio_buttons input:checked + label {
    transition: all 0.25s;
    background: #C2E7C8;
}

.an_spread {
    width: 100%;
    margin-top: 72px;
}

.header > td {
    letter-spacing: 0.25px;
    text-align: left;

    color: rgba(0, 0, 0, 0.38);
}

.an_spread .date {
    color: rgba(0, 0, 0, 0.38)
}

.an_spread .inwork {
    color: #23B04A;
}

.an_spread .result {
    width: 140px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    color: rgba(0, 0, 0, 0.6);
}


.statusImg {
    justify-self: flex-end;
}

.an_spread .user a {
    color: rgba(46, 155, 194, 1)
}

.an_spread .table_row {
    height: 125px;

    vertical-align: top;
}

.nameEquip {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}